.course {
	padding: 50px 0;
	&__container {
		&-inner {
			&-menu {
				border-radius: 25px;
				background: var(--white-color);
				padding: 28px;
				padding-top: 38px;
			}
		}
		&-back {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 60px;
			max-width: 238px;
		}
		&-header {
			padding: 0 49px;
		}
	}
	&__content {
		border-radius: 25px;
		background: var(--white-color);
		padding: 20px;
		display: flex;
		align-items: flex-start;
		gap: 40px;
		width: 100%;
	}
	&__menu {
		position: sticky;
		top: 15px;
		background: var(--dark-blue-color);
		border-radius: 25px;
		padding: 20px;
		padding-top: 40px;
		max-width: 400px;
	}
	&__main {
		width: 100%;
	}
	&__header {
		padding-top: 34px;
		padding-bottom: 11px;
		border-bottom: 2px solid var(--light-blue-color);
		margin-bottom: 10px;
	}
	&__title {
		&-menu {
			text-align: center;
			margin-bottom: 30px;
			text-transform: capitalize;
		}
		&-heading {
			position: relative;
			color: var(--black-color);
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			padding-bottom: 16px;
			margin: 0;
			margin-bottom: 12px;
			text-transform: uppercase;
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -1px;
				width: 100%;
				height: 2px;
				background: var(--light-blue-color);
			}
		}
		&-main {
			font-size: 42px;
			font-weight: 700;
			line-height: 50px;
			margin: 0;
			margin-bottom: 14px;
		}
	}
	&__list {
		&-contents {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
			padding-left: 24px;
			padding-bottom: 45px;
			border-bottom: 2px solid var(--light-blue-color);
			margin: 0;
		}
		&-tests {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
			padding: 20px 0;
			min-height: 90px;
			border-bottom: 2px solid var(--light-blue-color);
		}
	}
	&__item {
		&-contents {
			position: relative;
			cursor: pointer;
			padding-right: 19px;
			opacity: 0.7;
			transition: opacity 0.3s ease;
			&::after {
				content: "";
				position: absolute;
				top: 1.5px;
				right: 0;
				width: 15px;
				height: 15px;
				background: var(--light-blue-color);
				border-radius: 100%;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
			&-active {
				opacity: 1;
				& .course {
					&__text {
						&-menu {
							transform: translateX(5px);
						}
					}
				}
				&::after {
					opacity: 1;
				}
			}
		}
		&-path {
			position: relative;
			&::after {
				content: url("../img/slash.svg");
				position: absolute;
				right: -11px;
				top: 2px;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
	&__text {
		&-menu {
			display: block;
			transition: transform 0.3s ease;
			font-weight: 400;
			font-size: 17px;
			line-height: 18px;
			padding-left: 2px;
		}
	}
	&__icon {
		fill: var(--light-blue-color);
		&-house {
			width: 34px;
			height: 35px;
		}
	}
	&__link {
		text-decoration: none;
		&-back {
			color: inherit;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__path {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 18px;
		row-gap: 2px;
	}
	&__modules {
		& .module {
			&:not(:first-child) {
				padding-top: 0;
			}
		}
	}
}

@media (max-width: 1024px) {
	.course {
		&__content {
			gap: 24px;
		}
		&__menu {
			padding: 14px;
			padding-top: 20px;
		}
		&__title {
			&-menu {
				font-size: 26px;
				line-height: 120%;
				margin-bottom: 20px;
			}
			&-heading {
				font-size: 20px;
				line-height: 120%;
				padding-bottom: 11px;
			}
		}
		&__container {
			&-inner {
				&-menu {
					padding: 20px;
				}
			}
			&-back {
				margin-top: 18px;
			}
		}
		&__text {
			&-menu {
				font-size: 15px;
				line-height: 120%;
			}
		}
		&__item {
			&-contents {
				&::after {
					top: 2px;
				}
			}
		}
		&__list {
			min-height: unset;
			&-contents {
				padding-bottom: 14px;
			}
		}
	}
}

@media (max-width: 768px) {
	.course {
		&__container {
			&-header {
				padding: 0 16px;
			}
		}
	}
}
