.module {
	padding: 40px 36px 36px;
	background: var(--white-color);
	&-video {
		&__video {
			width: 100%;
			height: auto;
		}
		&__title {
			color: var(--black-color);
			margin-bottom: 22px;
		}
	}
	&-icon-text-1 {
		display: flex;
		align-items: center;
		&__icon {
			fill: var(--dark-blue-color);
			min-width: 40px;
			min-height: 40px;
			width: 40px;
			height: 40px;
			margin-right: 30px;
		}
		&__text {
			margin: 0;
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			color: var(--black-color);
		}
	}
	&-card-3 {
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
		&__item {
			grid-column: 1 span;
			padding: 20px 22px;
			border: 2px solid var(--dark-blue-color);
			border-radius: 15px;
		}
		&__text {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
		}
	}
	&-card-2 {
		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
			&-inner {
				list-style-type: disc;
				padding-left: 26px;
			}
		}
		&__item {
			grid-column: 1 span;
			padding: 20px;
			border: 2px solid var(--dark-blue-color);
			border-radius: 15px;
		}
		&__text {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin: 0;
		}
		&__container {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
		}
		&__icon {
			fill: var(--dark-blue-color);
			min-width: 40px;
			min-height: 40px;
			width: 40px;
			height: 40px;
			margin-right: 18px;
		}
	}
	&-card-1 {
		&__list {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 40px;
			&-inner {
				list-style-type: disc;
				padding-left: 26px;
			}
		}
		&__item {
			grid-column: 1 span;
			padding: 20px;
			border: 2px solid var(--dark-blue-color);
			border-radius: 15px;
		}
		&__text {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin: 0;
		}
		&__container {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
		}
		&__icon {
			fill: var(--dark-blue-color);
			min-width: 40px;
			min-height: 40px;
			width: 40px;
			height: 40px;
			margin-right: 18px;
		}
	}
	&-heading {
		&__title {
			color: var(--black-color);
		}
	}
	&-image {
		&__image {
			height: auto;
			width: 100%;
		}
	}
	&-line {
		padding-left: 16px;
		padding-right: 16px;
		&__line {
			display: block;
			width: 100%;
			height: 2px;
			background: var(--light-blue-color);
		}
	}
	&-list {
		padding-left: 60px;
		&__list {
			display: flex;
			flex-direction: column;
			row-gap: 2px;
		}
		&__item {
			font-weight: 400;
			font-size: 20px;
			line-height: 29px;
			padding-left: 4px;
		}
		&-numered {
			.module-list__list {
				list-style-type: decimal;
			}
		}
		&-unnumered {
			.module-list__list {
				list-style-type: disc;
			}
		}
	}
	&-text {
		&__text {
			margin: 0;
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
		}
		&-image {
			display: flex;
			justify-content: space-between;
			gap: 28px;
		}
	}
	&-calendar {
		&__list {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 36px;
		}
		&__item {
			padding: 16px;
			padding-bottom: 23px;
			border: 2px solid var(--black-color);
			grid-column: 3 span;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			row-gap: 40px;
			min-height: 300px;
			border-radius: 15px;
		}
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 14px;
		}
		&__icon {
			&-calendar {
				fill: var(--dark-blue-color);
				min-width: 36px;
				min-height: 40px;
				width: 36px;
				height: 40px;
			}
		}
		&__date {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			display: flex;
			flex-direction: column;
		}
		&__title {
			font-weight: 600;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			color: var(--dark-blue-color);
			margin: 0;
		}
		&__goal {
			line-height: 20px;
			text-align: center;
		}
		&__format {
			line-height: 14px;
			text-align: center;
			max-width: 92px;
		}
	}
	&-grades {
		display: flex;
		gap: 24px;
		&__graph {
			padding: 24px 46px 0;
			border: 2px solid var(--black-color);
			border-radius: 15px;
			max-width: 560px;
			width: 100%;
		}
		&__title {
			font-size: 24px;
			font-weight: 700;
			line-height: 28px;
			margin: 0;
			margin-bottom: 28px;
		}
		&__container {
			&-graph {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
			}
			&-text {
				padding-top: 20px;
			}
		}
		&__column {
			grid-column: 1 span;
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 18px;
			&:last-child {
				& .module-grades__persentage::before {
					color: var(--white-color);
				}
			}
		}
		&__persentage {
			position: relative;
			z-index: 30;
			height: 179px;
			width: 35px;
			min-width: 35px;
			background: var(--grey-color);
			border-radius: 8px;
			&::before {
				content: attr(data-coef);
				position: absolute;
				color: var(--black-color);
				font-size: 12px;
				line-height: 14px;
				top: 8px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 40;
			}
		}
		&__value {
			width: 100%;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			background: var(--light-blue-color);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&__text {
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			&-title {
				font-weight: 700;
				margin: 0;
				margin-bottom: 14px;
			}
			&-blue {
				color: var(--dark-blue-color);
			}
		}
		&__list {
			margin: 0;
			margin-bottom: 34px;
			padding-left: 26px;
		}
		&__item {
			&-icon {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		&__icons {
			display: flex;
			align-items: center;
			gap: 30px;
			padding-left: 26px;
		}
		&__icon {
			max-width: 40px;
			max-height: 40px;
			fill: var(--dark-blue-color);
		}
	}
	&-tarif {
		&__container {
			&-title {
				padding: 18px 20px;
				border: 2px solid var(--black-color);
				border-radius: 15px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&-inner {
				display: flex;
				align-items: center;
			}
			&-item {
				&-top {
					display: flex;
					align-items: center;
					margin-bottom: 36px;
					padding-left: 7px;
				}
			}
		}
		&__icon {
			&-bag {
				width: 40px;
				height: 40px;
				min-width: 40px;
				min-height: 40px;
				margin-right: 22px;
				fill: var(--light-blue-color);
				&-3 {
					width: 36px;
					min-width: 36px;
				}
			}
			&-star {
				width: 40px;
				height: 36px;
				min-width: 40px;
				min-height: 36px;
				margin-right: 20px;
				fill: var(--light-blue-color);
			}
		}
		&__title {
			color: var(--black-color);
			padding-right: 30px;
			&-smaller {
				margin: 0;
				font-weight: 700;
				font-size: 28px;
				line-height: 26px;
				display: flex;
				flex-direction: column;
				align-items: center;
				&-bottom {
					line-height: 30px;
				}
			}
			&-item {
				text-transform: uppercase;
			}
			&-list {
				font-weight: 600;
				font-size: 14px;
				line-height: 20px;
				color: var(--dark-blue-color);
				margin: 0;
				margin-bottom: 8px;
			}
		}
		&__text {
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			margin: 0;
			margin-bottom: 22px;
			&-uppercase {
				text-transform: uppercase;
				font-weight: 500;
			}
			&-darkblue {
				color: var(--dark-blue-color);
			}
			&-blue {
				color: var(--light-blue-color);
				font-size: 12px;
				line-height: 120%;
				font-weight: 400;
			}
			&-dark {
				color: var(--black-color);
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			row-gap: 2px;
			list-style-type: disc;
			padding-left: 22px;
			margin-bottom: 20px;
			&-main {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				column-gap: 20px;
				padding-top: 31px;
				margin-bottom: 60px;
			}
		}
		&__item {
			position: relative;
			grid-column: 4 span;
			padding: 30px 20px 22px 15px;
			display: flex;
			flex-direction: column;
			border: 2px solid var(--black-color);
			border-radius: 15px;
			&::before {
				content: "";
				height: 31px;
				width: 2px;
				background: var(--black-color);
				position: absolute;
				top: -33px;
				left: 50%;
				transform: translateX(-50%);
			}
			& .module-tarif__list:last-of-type {
				margin-bottom: 60px;
			}
			& .module-tarif__title-smaller:last-child {
				margin-top: auto;
			}
			&-inner {
				font-size: 10px;
				font-weight: 400;
				line-height: 16px;
			}
		}
	}
	&-table {
		&__row {
			position: relative;
			padding: 20px 40px 20px 50px;
			display: grid;
			grid-template-columns: 180px 1fr;
			gap: 30px;
			&:first-child {
				&::before {
					content: "";
					width: 100%;
					height: 2px;
					background: var(--light-blue-color);
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			&::after {
				content: "";
				width: 100%;
				height: 2px;
				background: var(--light-blue-color);
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		&__title {
			grid-column: 1 span;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: var(--dark-blue-color);
			margin: 0;
			text-align: center;
		}
		&__text {
			grid-column: 1 span;
			font-weight: 400;
			font-size: 20px;
			line-height: 29px;
			margin: 0;
			&-blue {
				color: var(--light-blue-color);
			}
		}
	}
	&-books {
		&__title {
			color: var(--black-color);
			margin-bottom: 54px;
		}
		&__list {
			position: relative;
			display: flex;
			justify-content: space-between;
			gap: 50px;
			padding: 0 70px;
			padding-bottom: 25px;
			&::after {
				content: "";
				width: 100%;
				height: 70px;
				background: var(--light-blue-color);
				border-radius: 15px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 40;
			}
		}
		&__item {
			position: relative;
			display: flex;
			justify-content: center;
			z-index: 50;
		}
		&__image {
			border: 1px solid var(--light-blue-color);
			border-radius: 25px;
		}
		&-slider {
			& .module-books {
				&__list {
					&::after {
						display: none;
					}
				}
			}
			&__slider {
				position: relative;
				padding: 0 70px;
				padding-bottom: 25px;
				&::after {
					content: "";
					width: 100%;
					height: 70px;
					background: var(--light-blue-color);
					border-radius: 15px;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: -1;
				}
			}
			&__wrapper {
				max-width: 698px;
			}
			&__slide {
				z-index: 50;
				display: flex;
				justify-content: center;
			}
		}
	}
}

@media (max-width: 1024px) {
	.module {
		padding: 20px;
		padding-bottom: 28px;
		&-icon-text-1 {
			&__text {
				font-size: 20px;
				line-height: 120%;
			}
			&__icon {
				margin-right: 16px;
			}
		}
		&-card-3 {
			&__list {
				column-gap: 0;
				grid-template-columns: repeat(12, 1fr);
			}
			&__item {
				grid-column: 12 span;
			}
		}
		&-card-2 {
			&__list {
				column-gap: 0;
				row-gap: 30px;
				grid-template-columns: repeat(12, 1fr);
			}
			&__item {
				grid-column: 12 span;
			}
		}
		&-heading {
			&__title {
				font-size: 20px;
				line-height: 120%;
			}
		}
	}
}

/* 1.25 dpr */
// @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
// 	body {
// 		background-color: crimson;
// 	}
// }

/* 1.3 dpr */
// @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
// 	body {
// 		background-color: aqua;
// 	}
// }

/* 1.5 dpr */
// @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
// }

// -180% для верхних
