<section class="course">
	<div class="container course__container">
		<div class="course__content">
			<div class="course__menu">
				<h3 class="title title__h3 course__title-menu">Содержание курса</h3>
				<div class="course__container-inner-menu">
					<h4 class="course__title-heading">ООО ГК «ОПТИ»</h4>
					<ol class="course__list course__list-contents">
						<li class="course__item-contents course__item-contents-active">
							<span class="course__text-menu">О компании</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Направления деятельности</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Конкурентные преимущества</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Лицензии</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Внедрение Битрикс24</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Сайты и интернет-магазины</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">CMS и SEO</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Реклама и маркетинг</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Сопровождение и поддержка</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Дополнительные услуги</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Правила компании</span>
						</li>
						<li class="course__item-contents">
							<span class="course__text-menu">Этические нормы и правила Партнера 1С-Битрикс</span>
						</li>
					</ol>
					<ul class="course__list course__list-tests list-reset">
						<li class="course__item-test"><span class="course__text-menu">Итоговый тест</span></li>
					</ul>
					<div class="course__container-back">
						<a class="course__link course__link-back" href="/">
							<svg class="course__icon course__icon-house">
								<use xlink:href="img/sprite.svg#house"></use>
							</svg>
							<span class="course__text-menu">Главная страница</span>
						</a>
					</div>
				</div>
			</div>
			<div class="course__main">
				<div class="course__header">
					<div class="course__container-header">
						<h2 class="course__title-main">О компании</h2>
						<ul class="list-reset course__path">
							<li class="course__item-path">
								<a class="title title__h6 course__link" href="/">Главная</a>
							</li>
							<li class="course__item-path">
								<a class="title title__h6 course__link" href="/">ООО ГК ОПТИ</a>
							</li>
							<li class="course__item-path">
								<a class="title title__h6 course__link" href="/">О компании</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="course__modules">
					<div class="module module-video">
						<h3 class="title title__h3 module-video__title">Название видео ролика</h3>
						<video class="module-video__video" width="100%" height="468" controls>
							<source src="movie.mp4" type="video/mp4" />
							<source src="movie.ogg" type="video/ogg" />
						</video>
					</div>
					<div class="module module-icon-text-1">
						<svg class="module-icon-text-1__icon">
							<use xlink:href="img/sprite.svg#exclamation-mark"></use>
						</svg>
						<h4 class="module-icon-text-1__text">Этот продукт подходит для любого типа бизнеса.</h4>
					</div>
					<div class="module module-icon-text-1">
						<svg class="module-icon-text-1__icon">
							<use xlink:href="img/sprite.svg#exclamation-mark"></use>
						</svg>
						<h4 class="module-icon-text-1__text">
							Этот продукт подходит для любого типа бизнеса. Этот продукт подходит для любого типа
							бизнеса.
						</h4>
					</div>
					<div class="module module-card-3">
						<ul class="module-card-3__list list-reset">
							<li class="module-card-3__item">
								<h4 class="title title__h4 module-card-3__text">
									Настройка шаблонов документов, сокращает затраты времени на создание типовых
									документов
								</h4>
							</li>
							<li class="module-card-3__item">
								<h4 class="title title__h4 module-card-3__text">
									Настройка шаблонов документов, сокращает затраты времени на создание типовых
									документов
								</h4>
							</li>
							<li class="module-card-3__item">
								<h4 class="title title__h4 module-card-3__text">
									Настройка шаблонов документов, сокращает затраты времени на создание типовых
									документов
								</h4>
							</li>
						</ul>
					</div>
					<div class="module module-card-2">
						<ul class="module-card-2__list list-reset">
							<li class="module-card-2__item">
								<div class="module-card-2__container">
									<svg class="module-card-2__icon">
										<use xlink:href="img/sprite.svg#okay"></use>
									</svg>
									<p class="module-card-2__text">Для тех, кто работает в CRM Битрикс24</p>
								</div>
								<ul class="module-card-2__list-inner">
									<li class="module-card-2__item-inner module-card-2__text">
										Решаем технические вопросы и консультируем по инструментам и работе в CRM.
									</li>
									<li class="module-card-2__item-inner module-card-2__text">
										Работаем с партнёрами Битрикс24: если компании занимаются только внедрением CRM,
										мы сопровождаем проекты.
									</li>
								</ul>
							</li>
							<li class="module-card-2__item">
								<div class="module-card-2__container">
									<svg class="module-card-2__icon">
										<use xlink:href="img/sprite.svg#okay"></use>
									</svg>
									<p class="module-card-2__text">
										Готовим подробный <br />
										отчет о работе
									</p>
								</div>
								<ul class="module-card-2__list-inner">
									<li class="module-card-2__item-inner module-card-2__text">
										Отчет формируем на автосохраненных данных.
									</li>
									<li class="module-card-2__item-inner module-card-2__text">
										Полученная статистика позволяет исключить системные ошибки и проблемные зоны.
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="module module-card-1">
						<ul class="module-card-1__list list-reset">
							<li class="module-card-1__item">
								<div class="module-card-1__container">
									<svg class="module-card-1__icon">
										<use xlink:href="img/sprite.svg#okay"></use>
									</svg>
									<p class="module-card-1__text">
										Принимаем заявки <br />
										через мессенджеры
									</p>
								</div>
								<ul class="module-card-1__list-inner">
									<li class="module-card-1__item-inner module-card-1__text">
										Время ответа на заявку занимает до 20 минут.
									</li>
									<li class="module-card-1__item-inner module-card-1__text">
										Решения и правки — в день обращения.
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="module module-image">
						<img
							loading="lazy"
							src="./img/screen.png"
							class="image module-image__image"
							width="832"
							height="768"
							alt="Пример изорбражения"
						/>
					</div>
					<div class="module module-heading">
						<h3 class="title title__h3 module-heading__title">
							Этот продукт подходит для любого типа бизнеса.
						</h3>
					</div>
					<div class="module module-heading">
						<h3 class="title title__h3 module-heading__title">
							Партнер обязуется соблюдать следующие этические нормы и правила:
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
